
<h1 class="mt-md-3 text-secondary">Nuestras escuelas ... </h1>
<div class="row m-4">
    {{#each rows}}
        <div class="col-md-auto mb-3" style="min-width: 250px;">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title d-flex justify-content-start align-items-center ">
                    <b class="me-3">Nombre:</b> {{school}}
                </h6>
                <p><b class="me-2">Distrito:</b> {{address}}</p>
                <p><b class="me-2">id:</b> {{id}}</p>
                <p><b class="me-2">Cantidad de cursos:</b> {{cantidad_cursos}}</p>
                
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST" >
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-success" >Ver colegio</button>
                </form>
            </div>
        </div>
        </div>
    {{/each}}
</div>